<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.roachf.survey.pojo.entity.Demo" alias="demo"/>
	</typeAliases>
	
	<plugins>
		<plugin interceptor="com.roachf.survey.utils.plugins.StatementHandlerInterceptor">
			<property name="dialect" value="mysql"/>
		</plugin>
		<plugin interceptor="com.roachf.survey.utils.plugins.ResultSetHandlerInterceptor"></plugin>
	</plugins>
	
	
</configuration>