<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="base">

	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="map">
		insert into ${TABLE_NAME} ( ${COLUMNS} ) values ( ${VALUES} )
	</insert>
	
	<delete id="remove" parameterType="map">
		delete from ${TABLE_NAME} 
		<if test="WHERE_CONDITION != null">
		where ${WHERE_CONDITION}
		</if>
	</delete>
	
	<update id="replace" parameterType="map">
		update ${TABLE_NAME} set ${KEY_VALUE} where ${WHERE_CONDITION}
	</update>
	
</mapper>